/* This file styles all pages. */

html {
    background: linear-gradient(135deg, #E8F7F7, #70C0C3, #48A0BA);
    min-height:180%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: x-large;
    font-size: 5vw;
    font-weight: 600;
}

header {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(24, 24, 24);
    font-size: x-large;
    font-size: 1.5vw;
}

body {
    height:100%;
    font-weight: 400;
    font-size: medium;
    size: 50;
}

h2 {
    padding-left: 30px;
}

h3 {
    padding-left: 30px;
}

.information {
    padding-left: 40px;
}

li {
    padding: 5px;
}

input , textarea{
    font-family: 'Plus Jakarta Sans', sans-serif;
    border-color: #2B7F99;
    border-radius: 5pt;
    min-height: 20pt;
    border-width: 2pt;
    margin-left: 2pt;
    padding-left: 10pt;
}

.button {
    padding: 0pt;
    padding: 5pt;
    margin: 30px;
    font-size: large;
}

footer {
    display: grid;
    grid-template-columns: 210px 70%;
    grid-template-rows: 100%;
    column-gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    min-width: 700px;
    margin-top: 20%;
}

a {
    margin-right: 20px;
}

footer div {
    padding-top: 10px;
}

footer h3 {
    margin-top: 50px;
    padding-left: 0;
}